html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background: #ffffff;
  font-family: sans-serif;
  width: 500px;
}

#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 62px;
  background: #ffffff;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
  z-index: 50;
  text-align: center;
}

#app-title {
  position: fixed;
  top: 8px;
  left: 8px;
  font-size: larger;
  z-index: 300;
  font-weight: bold;
  color: #bf0000;
}
#app-title span {
  color: #808080;
  opacity: 0.4;
  font-size: small;
  margin-left: 8px;
}

#show-dinner,
#show-lunch {
  width: 68px;
  height: 32px;
  position: fixed;
  top: 3px;
  right: 10px;
  cursor: pointer;
  z-index: 200;
  background-repeat: no-repeat;
  background-size: contain;
}

#show-dinner { background-image: url(img/dayON.png); }
#show-lunch { background-image: url(img/nightON.png); }

.menu {
  width: 500px;
  display: none;
}
.menu.active {
  display: inherit;
}

.tabs {
  position: fixed;
  height: 24px;
  z-index: 100;
  top: 30px;
  padding: 0px 10px 13px 0px;
}

.tabs .tab {
  position: relative;
  bottom: -1px;
  cursor: pointer;
  display: inline-block;
  margin: 3px 3px 0 10px;
  padding: 6px 12px 6px 20px;
  font-weight: bold;
  font-size: larger;
  opacity: 0.4;
  color: #808080;
  background: url(img/tab-icon.png) no-repeat left center;
  cursor: pointer;
}

.tabs .tab.active {
  opacity: 1.0;
}

.dishes {
  position: relative;
  top: 60px;
  padding-top: 3px;
  border-top: 0;
  background: #fff;
}

.dishes .content {
  display: none;
}

.dishes .content.active {
  display: block;
}

.dishes .dish {
  position: relative;
  border-top: 1px solid #efefef;
  margin: 0 6px;
  padding: 7px 0;
  min-height: 180px;
}
.dishes .dish.paid {
  background: #ffefef;
}
.dishes .dish.halal {
  opacity: 0.5;
}

.dishes .dish:nth-of-type(1) {
  border-top: 0;
}

.dishes .dish .preview {
  float: left;
  width: 240px;
  height: 180px;
  background: #efefef;
  background-size: cover;
  background-position: 50%;
}

.dishes .dish .preview a {
  display: block;
  width: 100%;
  height: 100%;
  user-select: none;
}

.dishes .dish .details {
  margin-left: 250px;
}

.dishes .dish .booth {
  position: relative;
  font-weight: bold;
}

.dishes .dish .booth .booth-name {
  position: relative;
}

.dishes .dish .booth .icon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  background: #efefef;
}

.dishes .dish.maina .booth .icon { background: url(img/booth-main-a.jpg); }
.dishes .dish.mainb .booth .icon { background: url(img/booth-main-b.jpg); }
.dishes .dish.mainc .booth .icon { background: url(img/booth-main-c.jpg); }
.dishes .dish.bowla .booth .icon { background: url(img/booth-bowl-a.jpg); }
.dishes .dish.bowlb .booth .icon { background: url(img/booth-bowl-b.jpg); }
.dishes .dish.grill .booth .icon { background: url(img/booth-grill.jpg); }
.dishes .dish.halal .booth .icon { background: url(img/booth-halal.jpg); }
.dishes .dish.pasta .booth .icon { background: url(img/booth-pasta.jpg); }
.dishes .dish.ramen .booth .icon { background: url(img/booth-ramen.jpg); }
.dishes .dish.bowl .booth .icon { background: url(img/booth-bowl.jpg); }
.dishes .dish.bowldonburicurry .booth .icon { background: url(img/booth-bowl.jpg); }
.dishes .dish.noodlesa .booth .icon { background: url(img/booth-noodles-a.jpg); }
.dishes .dish.noodlesb .booth .icon { background: url(img/booth-noodles-b.jpg); }
.dishes .dish.noodlespasta .booth .icon { background: url(img/booth-udon-soba.jpg); }
.dishes .dish.udonsoba .booth .icon { background: url(img/booth-udon-soba.jpg); }

.dishes .dish .price {
  display: none;
  background: #bd0000;
  color: white;
  padding: 3px 6px;
  font-size: small;
  position: absolute;
  top: 5px;
  right: 5px;
}
.dishes .dish.paid .price {
  display: inline-block;
}

.dishes .dish .dish-name {
  margin-top: 1em;
}

.dishes .dish .calories {
  margin-top: 0.5em;
  font-size: small;
  font-weight: bold;
  color: #a9a9a9;
}

.dishes .dish .components {
  font-size: small;
  margin-left: 0.5em;
  margin-top: 0.5em;
  color: #a9a9a9;
}

.dishes .dish .components .icon {
  display: inline-block;
  margin-right: 0.4em;
  width: 7px;
  height: 7px;
  border-radius: 2px;
  position: relative;
  top: -1px;
}
.dishes .dish .carb .icon { background: #9999ff; }
.dishes .dish .fat .icon { background: #ff9999; }
.dishes .dish .protein .icon { background: #fde2a5; }
.dishes .dish .sodium .icon { background: #a3e6a3; }

.dish .ingredients {
  margin-top: 0.5em;
}

.dish .ingredients .ingredient {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.dish .ingredients .ingredient-alcohol { background-image: url(img/ingredient-alcohol.jpg); }
.dish .ingredients .ingredient-beef { background-image: url(img/ingredient-beef.jpg); }
.dish .ingredients .ingredient-chicken { background-image: url(img/ingredient-chicken.jpg); }
.dish .ingredients .ingredient-fish { background-image: url(img/ingredient-fish.jpg); }
.dish .ingredients .ingredient-healthy { background-image: url(img/ingredient-healthy.jpg); }
.dish .ingredients .ingredient-mutton { background-image: url(img/ingredient-mutton.jpg); }
.dish .ingredients .ingredient-pork { background-image: url(img/ingredient-pork.jpg); }

.dish .umai-on,
.dish .umai-off {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: small;
  color: #fe94fe;
  vertical-align: middle;
  cursor: pointer;
}
.dish .umai-off { color: #cacaca }

.dish .umai-on .icon,
.dish .umai-off .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  background-size: contain;
  opacity: 0.5;
  position: relative;
  top: 1px;
  right: 3px;
  background-image: url(img/heart-on.png);
  background-size: cover;
}
.dish .umai-off .icon { background-image: url(img/heart-off.png); }

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin: 1px;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

#error {
  height: 100px;
  color: #730000;
  padding: 25px 20px 0 130px;
  line-height: 1.2em;
  background: #f4f4f4;
}

#error .img {
  position: absolute;
  top: 10px;
  left: 0;
  background: url(img/panda.jpg) left no-repeat;
  background-size: cover;
  width: 124px;
  height: 100px;
}

#error p {
  margin-bottom: 1em;
}

#error a {
  color: #000000;
  text-decoration: none;
}

#error a:hover {
  color: #ff0000;
  text-decoration: underline;
}

#error .version {
  position: absolute;
  top: 0;
  right: 3px;
  color: #cccccc;
  font-size: 75%;
  font-weight: bold;
}

#error-rap {
  position: absolute;
  bottom: 3px;
  right: 175px;
  display: block;
  width: 28px;
  height: 22px;
  background: url(img/sad-cloud.png) no-repeat center;
  background-size: contain;
  cursor: pointer;
}

#congestion {
  position: absolute;
  bottom: 5px;
  right: 100px;
  width: auto;
  z-index: 300;
  overflow: hidden;
  padding-left: 25px;
  background: url(img/people.png) left center no-repeat;
  background-size: contain;
}

#congestion .rate {
  position: relative;
  top: 1px;
  font-size: 18px;
  font-weight: bold;
	color: #bf2327;
}

#sort-button {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 0.75em;
  font-weight: bold;
  background: #d8d8d8;
  display: inline-block;
  cursor: pointer;
  padding: 3px 23px 3px 9px;
  border-radius: 9px;
  color: #fff;
  user-select: none;
}

#sort-direction {
  position: absolute;
  right: 0;
  top: 0;
  width: 14px;
  height: 14px;
  background: #a7a7a7;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #fff;
}
#sort-direction .arrow {
  width: 0;
  height: 0;
  position: relative;
  border: solid transparent;
}
#sort-direction.asc .arrow {
  top: 3px;
  left: 3px;
  border-width: 0 4px 6.9px 4px;
  border-bottom-color: #fff;
}
#sort-direction.desc .arrow {
  top: 4px;
  left: 3px;
  border-width: 6.9px 4px 0 4px;
  border-top-color: #fff;
}

#day,
#day-selector {
  position: fixed;
  top: 5px;
  right: 90px;
  width: 30px;
}

#day-selector {
  height: 150px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 6px 15px -7px #000;
}

.weekday {
  position: absolute;
  left: 1px;
  cursor: pointer;
}
.weekday .name {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 9px;
  padding-top: 2px;
  background: #e2e2e2;
  border: 1px solid #b9b9b9;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #999;
  font-size: 8px;
  font-weight: bold;
}
.weekday .number {
  top: 12px;
  left: 0;
  width: 26px;
  height: 13px;
  padding-top: 3px;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: absolute;
  color: #b9b9b9;
  font-size: 80%;
  font-weight: bold;
}
.weekday.active .name {
  background: #bf0000;
  border: 1px solid #920000;
  color: #e2e2e2;
}
.weekday:hover .number {
  color: #808080;
}
.weekday.day1 { top: 30px; }
.weekday.day2 { top: 60px; }
.weekday.day3 { top: 90px; }
.weekday.day4 { top: 120px; }
.weekday.past {
  opacity: 0.6;
}
